/* .hover:hover{
    background-color: yellow;
    cursor: pointer;
} */

input:focus{
    color: red;
    outline: 2px solid blue;
    background-color: yellowgreen;
}
p::after{
    content:"jklklklklklklk";
    color: red;
}
p::before{
    content:"jklklklklklklk";
    color: rgb(60, 0, 255);
}
p::selection{
    background-color: black;
    color: cyan;
}
/* a:hover{
    color: rgb(167, 20, 220);
}
a:active{
    color: brown;
}
a:visited{
    color: red;
    text-decoration: overline;
} */
/* a:first-child{
    background-color: cyan;
} */

/* a:nth-child(1){
    background-color: pink;
} */
a:nth-child(even){
    background-color: rgb(200, 5, 38);
}
a:nth-child(odd){
    background-color: rgb(2, 57, 57);
}
a:nth-child(2n + 1 ){
    color: rgb(4, 237, 62);
}
a:nth-child(2n + 2 ){
    color: rgb(244, 193, 24);
}