body{
    background-color: rgb(81, 162, 127);
}
div::after{
    content:"desktop";
    font-weight: bold;
    color: #090000;
    
}
*{
    font-size: 2rem;
}

@media (901px <= width <= 930px){
    body{
        background-color: rgb(165, 186, 255);
    }
    div::after{
        content:"larger tablets";
        font-weight: bold;
        color: #1b0101;
        
    }
}
@media (768px <= width <= 900px){
    body{
        background-color: red;
    }
    div::after{
        content:"tablets";
        font-weight: bold;
        color: #fff;
        
    }
}
@media(501px <= width <= 767px) {
    body{
        background-color: rgb(86, 35, 35);
    }

    div::after{
        content:"smaller tablets";
        font-weight: bold;
        color: #fff;
        
    }
}
@media (400px <= width <= 500px){
    body{
        background-color: rgb(0, 30, 255);
    }
    div::after{
        content:"mobiles";
        font-weight: bold;
        color: #fff;
        
    }
}
@media (280px <= width <= 399px){
    body{
        background-color: rgb(5, 67, 12);
    }
    div::after{
        content:"smaller mobiles";
        font-weight: bold;
        color: #fff;
        
    }
}
