

/* Adding some default styling */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #edf1fd;
 
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

li {
  list-style: none;
}



@media screen and (min-width:320px){
  button {
    background-color: rgb(18, 155, 155);
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    outline: transparent;
    border-radius: 0.4rem;
    font-weight: 700;
  }
  
  button:hover {
    background-color: white;
    color: #129b9b;
    border: 1px solid black;
  }

}





@media screen and (320px<=width<=900px){
  
  /* Styling the footer */
footer{
  display: flex;
  flex-direction:column;
  gap: 35px;
  justify-content:center;


  padding:5rem;
}

footer > .footer-text{
  text-align: center;
  font-weight: bold;
}

footer > .contact-icons{
  font-size: 1.3rem;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}


footer > .contact-icons i{
  cursor: pointer;
}
}
@media screen and (320px<=width<=800px){
  /* Styling the hero-section */
 .hero-section {
   display: flex;
   flex-direction:column;
   gap: 20px;
   justify-content:center;
   align-items: center;
 
 
   padding: 3rem 3rem 0 3rem;
 }

 /* Styling the left-hero-section */
 .hero-section > .left-hero-section{
   flex:1;
   padding: 0 1rem;
 }
.hero-section > .left-hero-section p {
 font-size: 1.34rem;
}

.hero-section > .left-hero-section .h1 {
 font-size: 1.7rem;
 line-height: 3.1rem;
 font-weight: bold;
}

/* Styling the right-hero-section */
.hero-section > .right-hero-section {
 flex:1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

/* Styling the profile pic */
.hero-section > .right-hero-section img {
 text-align:center;
   width: 21.9rem;
 height: 18.75rem;
}

.hero-section > .right-hero-section > button {
 font-size: .9rem;
}

}



@media screen and (320px<=width<=550px) {
  button {
    font-size: .8rem;
    font-weight: 700;
  }
  
  /* Styling the header */
  header > nav {
    display: flex;
    flex-direction:column;
    gap: 10px;
    justify-content:center;
    align-items: center;
  }
  header > nav > ul {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    gap:10px;
  }
  header > nav > ul li:hover{
    font-weight: bold;
  }

  .search-field{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Styling the search input box */
.searchInput {
  padding: 0.3rem 0.5rem;
  outline: transparent;
}


}



@media screen and (500px<=width<=550px) {

  button , .hero-section > .right-hero-section > button {
    font-size: 1rem;
  }

   /* Styling the header */
   header > nav {
    display: flex;
    flex-direction:column;
    gap: 20px;
    justify-content:center;
    align-items: center;
  }

  header > nav > ul {
    font-size: 1rem;
   
  }

    /* Styling the search input box */
.searchInput {
  padding: 0.5rem 0.7rem;
  outline: transparent;
}


}

@media screen and (550px<=width<=610px) {
  .searchBtn{
    font-size: 1.11rem;
    font-weight: 700;
  }

  .hero-section > .right-hero-section > button {
    font-size: 1.25rem;
    font-weight: 700;
  }
  /* Styling the header */
  header > nav {
    display: flex;
    flex-direction:column;
    gap: 15px;
    justify-content:center;
    align-items: center;
  }
  
  header > nav > ul {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }
  header > nav > ul li:hover{
    font-weight: bold;
  }


  /* Styling the search input box */
.searchInput {
  padding: 0.5rem 0.7rem;
  outline: transparent;
}

/* Styling the hero-section */
/* Styling the profile pic */
.hero-section > .right-hero-section img {
  text-align:center;
    width: 27.9rem;
  height: 22.75rem;
 }
}


@media screen and (min-width:610px){
  /* Styling the header */
  header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  header > nav > ul {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }
  header > nav > ul li:hover{
    font-weight: bold;
  }


  /* Styling the search input box */
.searchInput {
  padding: 0.5rem 0.7rem;
  outline: transparent;
}
}

@media screen and (610px<=width<=800px){

 .hero-section > .right-hero-section > button {
    font-size: 1rem;
  }
  
  header > nav > ul {
    font-size: .89rem;
  }


/* Styling the hero-section */
/* Styling the profile pic */
.hero-section > .right-hero-section img {
  text-align:center;
    width: 27.9rem;
  height: 22.75rem;
 }
}


@media screen and (min-width:800px){

  /* Styling the hero-section */
.hero-section {
 width: 100vw;


  display: flex;
  flex-direction: row;
  /* gap: 250px; */
  justify-content: space-between;
  align-items: center;

  padding: 3rem 6rem 0 6rem;
}

.left-hero-section , .right-hero-section{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  
}

.left-hero-section{
  width: 50vw;
  margin: auto;
}

.right-hero-section{
  width: 50vw;
  margin: auto;
  padding-left: 7.5rem;
}

/* Styling the profile pic */
.hero-section > .right-hero-section img {

  text-align:center;
    width: 22.9rem;
  height: 19.75rem;
 }

 .hero-section > .left-hero-section p {
  font-size: 1.3rem;
}

.hero-section > .left-hero-section .h1 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: bold;
}
}

@media screen and (min-width:900px){
/* Styling the footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    padding: 4rem 11.5rem 2rem 10.5rem;
}

footer > .footer-text{
    font-weight: bold;
}

footer > .contact-icons{
    font-size: 1.3rem;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


footer > .contact-icons i{
    cursor: pointer;
}
}
@media screen and (min-width:1020px){
  button{
    font-size: 1.11rem;
    font-weight: 700;
  }
  /* Styling the search input box */
.searchInput {
  padding: 0.5rem 0.7rem;
  outline: transparent;
}
    /* Styling the left-hero-section */
.hero-section > .left-hero-section p {
  font-size: 1.75rem;
}

.hero-section > .left-hero-section .h1 {
  font-size: 2.4rem;
  line-height: 3.8rem;
  font-weight: bold;
}
/* Styling the right-hero-section */
.right-hero-section{
  padding-left: 10rem;
}
  .hero-section > .right-hero-section img {
      
      width: 33.9rem;
    height: 28.75rem;
   }

   
}


@media screen and (min-width:1300px){
  /* Styling the right-hero-section */
.right-hero-section{
  padding-left: 14rem;
}
}


/* Styling the logo */
.logo {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
/* Style for cyan-text class */
.cyan-text {
  color: rgb(18, 155, 155);
  font-weight: bold;
}
/* Style for darker-bg class */

.darker-bg {
  background-color: #dfdfe0;
  font-weight: bolder;
}










